CONFIG_TARGET_ipq50xx=y
CONFIG_TARGET_ipq50xx_arm=y
CONFIG_TARGET_ipq50xx_arm_DEVICE_cmcc_mr30000d-ci=y

#
# imagebuild
#
CONFIG_IB=y
CONFIG_IB_STANDALONE=y

CONFIG_ATH11K_THERMAL=y
CONFIG_ATH11K_MEM_PROFILE_256M=y
#
# htop
#
CONFIG_HTOP_LMSENSORS=y
#
# coremark
#
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=16
CONFIG_COREMARK_OPTIMIZE_O3=y
#
# Package
#
CONFIG_PACKAGE_kmod-crypto-des=m
CONFIG_PACKAGE_kmod-crypto-md4=m
CONFIG_PACKAGE_kmod-crypto-md5=m
CONFIG_PACKAGE_kmod-crypto-sha512=m
CONFIG_PACKAGE_kmod-hwmon-core=m
CONFIG_PACKAGE_kmod-ipt-offload=m
CONFIG_PACKAGE_kmod-ipt-tproxy=m
CONFIG_PACKAGE_kmod-leds-gpio=m
CONFIG_PACKAGE_kmod-lib-lz4=m
CONFIG_PACKAGE_kmod-lib-zstd=m

CONFIG_PACKAGE_kmod-nls-base=m
CONFIG_PACKAGE_kmod-nls-utf8=m
CONFIG_PACKAGE_kmod-ipt-extra=m
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=m
CONFIG_PACKAGE_kmod-qca-nss-ecm-standard=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-mtd-rw=m

CONFIG_PACKAGE_autocore-arm=y
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_iptables-mod-extra=y

CONFIG_PACKAGE_libsysfs=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_librrd1=m
CONFIG_PACKAGE_libsensors=m
CONFIG_PACKAGE_lm-sensors=m

CONFIG_PACKAGE_rrdtool1=m
CONFIG_PACKAGE_sysfsutils=m
CONFIG_PACKAGE_zram-swap=m

CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-autoreboot=m
CONFIG_PACKAGE_luci-app-ddns-go=m
CONFIG_PACKAGE_luci-app-filetransfer=m
#CONFIG_PACKAGE_luci-app-frpc=m
CONFIG_PACKAGE_luci-app-natmap=m
CONFIG_PACKAGE_luci-app-smartdns=m
CONFIG_PACKAGE_luci-app-ttyd=m
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
#CONFIG_PACKAGE_luci-app-watchcat=m
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-xlnetacc=m
#CONFIG_PACKAGE_luci-app-zerotier=m

CONFIG_PACKAGE_luci-i18n-argon-config-zh-cn=y
CONFIG_PACKAGE_luci-i18n-autoreboot-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ddns-go-zh-cn=m
CONFIG_PACKAGE_luci-i18n-filetransfer-zh-cn=m
#CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=m
CONFIG_PACKAGE_luci-i18n-natmap-zh-cn=m
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-uhttpd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y
CONFIG_PACKAGE_luci-i18n-vlmcsd-zh-cn=y
#CONFIG_PACKAGE_luci-i18n-watchcat-zh-cn=m
CONFIG_PACKAGE_luci-i18n-wol-zh-cn=y
CONFIG_PACKAGE_luci-i18n-xlnetacc-zh-cn=m
#CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=m

CONFIG_PACKAGE_luci-proto-wireguard=y

CONFIG_PACKAGE_luci-theme-argon=y
#
# turboacc
#
CONFIG_PACKAGE_TURBOACC_INCLUDE_NO_FASTPATH=y
# CONFIG_PACKAGE_TURBOACC_INCLUDE_FLOW_OFFLOADING is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_FAST_CLASSIFIER is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_SHORTCUT_FE_CM is not set
CONFIG_PACKAGE_TURBOACC_INCLUDE_BBR_CCA=y
