CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_MULTI_PROFILE=y
# CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_cmiot_ax18=y
# CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-07=y
# CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02=y
# CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y
# CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_qihoo_v6=y
# CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_redmi_ax5=y
# CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_redmi_ax5-jdcloud=y
# CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_xiaomi_ax1800=y
# CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_zn_m2=y
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_redmi_ax6=y
#
# build all kmod
#
# CONFIG_ALL_KMODS is not set
#
# imagebuild
#
CONFIG_IB=y
CONFIG_IB_STANDALONE=y
CONFIG_IMAGEOPT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_NUMBER="25.12.1"
CONFIG_VERSION_REPO="https://downloads.immortalwrt.org/releases/25.12.1"

CONFIG_ATH11K_NSS_SUPPORT=y
CONFIG_ATH11K_NSS_MESH_SUPPORT=y
# CONFIG_ATH11K_MEM_PROFILE_1G is not set
CONFIG_ATH11K_MEM_PROFILE_512M=y
# CONFIG_ATH11K_MEM_PROFILE_256M is not set
#
# coremark
#
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=16
CONFIG_COREMARK_OPTIMIZE_O3=y

# CONFIG_IPQ_MEM_PROFILE_1024 is not set
CONFIG_IPQ_MEM_PROFILE_512=y
# CONFIG_IPQ_MEM_PROFILE_256 is not set

CONFIG_LUCI_LANG_zh_Hans=y
#
# NSS
#
# CONFIG_NSS_DRV_IGS_ENABLE is not set
# CONFIG_NSS_DRV_L2TP_ENABLE is not set
# CONFIG_NSS_DRV_LAG_ENABLE is not set
# CONFIG_NSS_DRV_MAPT_ENABLE is not set
# CONFIG_NSS_DRV_PPTP_ENABLE is not set
# CONFIG_NSS_DRV_PVXLAN_ENABLE is not set
# CONFIG_NSS_DRV_SHAPER_ENABLE is not set
# CONFIG_NSS_DRV_VXLAN_ENABLE is not set
# CONFIG_NSS_DRV_WIFIOFFLOAD_ENABLE is not set
# CONFIG_NSS_DRV_WIFI_MESH_ENABLE is not set
CONFIG_NSS_FIRMWARE_VERSION_12_2=y
# CONFIG_NSS_FIRMWARE_VERSION_12_5 is not set
#
# Package
#
CONFIG_PACKAGE_arptables-nft=m
# CONFIG_PACKAGE_ath11k-firmware-ipq6018 is not set
CONFIG_PACKAGE_ath11k-firmware-ipq8074=m
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_automount=m
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_cgroupfs-mount=m
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_dropbearconvert=m
CONFIG_PACKAGE_ebtables-nft=m
CONFIG_PACKAGE_etherwake=y
# CONFIG_PACKAGE_hostapd-common is not set
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_ip6tables-extra=m
CONFIG_PACKAGE_ip6tables-mod-nat=m
CONFIG_PACKAGE_ip6tables-nft=m
# CONFIG_PACKAGE_ipq-wifi-cmiot_ax18 is not set
# CONFIG_PACKAGE_ipq-wifi-jdcloud_re-cs-02 is not set
# CONFIG_PACKAGE_ipq-wifi-jdcloud_re-ss-01 is not set
# CONFIG_PACKAGE_ipq-wifi-qihoo_v6 is not set
# CONFIG_PACKAGE_ipq-wifi-redmi_ax5 is not set
# CONFIG_PACKAGE_ipq-wifi-redmi_ax5-jdcloud is not set
# CONFIG_PACKAGE_ipq-wifi-xiaomi_ax1800 is not set
CONFIG_PACKAGE_ipq-wifi-redmi_ax6=m
# CONFIG_PACKAGE_ipq-wifi-zn_m2 is not set
CONFIG_PACKAGE_iptables-mod-checksum=m
CONFIG_PACKAGE_iptables-mod-conntrack-extra=m
CONFIG_PACKAGE_iptables-mod-extra=m
CONFIG_PACKAGE_iptables-mod-filter=m
CONFIG_PACKAGE_iptables-mod-hashlimit=m
CONFIG_PACKAGE_iptables-mod-ipopt=m
CONFIG_PACKAGE_iptables-mod-ipsec=m
CONFIG_PACKAGE_iptables-mod-nat-extra=m
CONFIG_PACKAGE_iptables-mod-tproxy=m
CONFIG_PACKAGE_iptables-nft=m
# CONFIG_PACKAGE_iw is not set
CONFIG_PACKAGE_kmod-arptables=m
CONFIG_PACKAGE_kmod-ath=m
CONFIG_PACKAGE_kmod-ath11k=m
CONFIG_PACKAGE_kmod-ath11k-ahb=m
CONFIG_PACKAGE_kmod-ath11k-pci=m
CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_kmod-br-netfilter=m
CONFIG_PACKAGE_kmod-cfg80211=m
CONFIG_PACKAGE_kmod-crypto-lib-chacha20=m
CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=m
CONFIG_PACKAGE_kmod-crypto-lib-curve25519=m
CONFIG_PACKAGE_kmod-crypto-lib-poly1305=m
CONFIG_PACKAGE_kmod-dummy=m
CONFIG_PACKAGE_kmod-ebtables=m
CONFIG_PACKAGE_kmod-fs-btrfs=m
CONFIG_PACKAGE_kmod-fs-ntfs3=m
CONFIG_PACKAGE_kmod-fs-vfat=m
CONFIG_PACKAGE_kmod-fs-xfs=m
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-inet-diag=m
CONFIG_PACKAGE_kmod-ip6tables=m
CONFIG_PACKAGE_kmod-iptunnel=m
CONFIG_PACKAGE_kmod-iptunnel6=m
CONFIG_PACKAGE_kmod-ipt-conntrack=m
CONFIG_PACKAGE_kmod-ipt-core=m
CONFIG_PACKAGE_kmod-ipt-extra=m
CONFIG_PACKAGE_kmod-ipt-fullconenat=m
CONFIG_PACKAGE_kmod-ipt-ipopt=m
CONFIG_PACKAGE_kmod-ipt-ipset=m
CONFIG_PACKAGE_kmod-ipt-nat=m
CONFIG_PACKAGE_kmod-ipt-offload=m
# CONFIG_PACKAGE_kmod-ipt-physdev is not set
CONFIG_PACKAGE_kmod-ipt-raw=m
CONFIG_PACKAGE_kmod-ipt-tproxy=m
CONFIG_PACKAGE_kmod-leds-pwm=y
CONFIG_PACKAGE_kmod-lib-lzo=m
CONFIG_PACKAGE_kmod-lib-raid6=m
CONFIG_PACKAGE_kmod-lib-xor=m
CONFIG_PACKAGE_kmod-lib-xxhash=m
CONFIG_PACKAGE_kmod-lib-zlib-deflate=m
CONFIG_PACKAGE_kmod-lib-zlib-inflate=m
CONFIG_PACKAGE_kmod-lib-zstd=m
CONFIG_PACKAGE_kmod-mac80211=m
CONFIG_PACKAGE_kmod-macvlan=m
CONFIG_PACKAGE_kmod-mppe=m
CONFIG_PACKAGE_kmod-nat46=y
CONFIG_PACKAGE_kmod-netlink-diag=m
CONFIG_PACKAGE_kmod-nf-ipt=m
CONFIG_PACKAGE_kmod-nf-ipt6=m
# CONFIG_PACKAGE_kmod-nf-ipvs is not set
CONFIG_PACKAGE_kmod-nf-nat=m
CONFIG_PACKAGE_kmod-nf-nat6=m
CONFIG_PACKAGE_kmod-nf-nathelper=m
CONFIG_PACKAGE_kmod-nf-nathelper-extra=m
CONFIG_PACKAGE_kmod-nf-tproxy=m
CONFIG_PACKAGE_kmod-nft-arp=m
CONFIG_PACKAGE_kmod-nft-compat=m
CONFIG_PACKAGE_kmod-nft-connlimit=m
CONFIG_PACKAGE_kmod-nft-fullcone=m
CONFIG_PACKAGE_kmod-nft-offload=m
CONFIG_PACKAGE_kmod-nft-socket=m
CONFIG_PACKAGE_kmod-nft-tproxy=m
CONFIG_PACKAGE_kmod-nls-cp437=m
CONFIG_PACKAGE_kmod-nls-cp936=m
CONFIG_PACKAGE_kmod-nls-iso8859-1=m
CONFIG_PACKAGE_kmod-nls-utf8=m
CONFIG_PACKAGE_kmod-qca-mcs=y
CONFIG_PACKAGE_kmod-qca-nss-ecm=y
CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-igs=m
CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2=m
CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr=m
CONFIG_PACKAGE_kmod-qca-nss-drv-map-t=m
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pptp=y
CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc=m
CONFIG_PACKAGE_kmod-qca-nss-drv-vlan-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-vxlanmgr=m
CONFIG_PACKAGE_kmod-qca-nss-drv-wifi-meshmgr=m
CONFIG_PACKAGE_kmod-qca-nss-macsec=m
CONFIG_PACKAGE_kmod-sched-cake=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-scsi-core=m
CONFIG_PACKAGE_kmod-tcp-bbr=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-udptunnel4=m
CONFIG_PACKAGE_kmod-udptunnel6=m
CONFIG_PACKAGE_kmod-usb-core=m
CONFIG_PACKAGE_kmod-usb-dwc2=m
CONFIG_PACKAGE_kmod-usb-dwc2-pci=m
CONFIG_PACKAGE_kmod-usb-dwc3=m
CONFIG_PACKAGE_kmod-usb-dwc3-qcom=m
CONFIG_PACKAGE_kmod-usb-ehci=m
CONFIG_PACKAGE_kmod-usb-ohci=m
CONFIG_PACKAGE_kmod-usb-ohci-pci=m
CONFIG_PACKAGE_kmod-usb-phy-nop=m
CONFIG_PACKAGE_kmod-usb-roles=m
CONFIG_PACKAGE_kmod-usb-serial=m
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=m
CONFIG_PACKAGE_kmod-usb-serial-wwan=m
CONFIG_PACKAGE_kmod-usb-storage=m
CONFIG_PACKAGE_kmod-usb-storage-extras=m
CONFIG_PACKAGE_kmod-usb-uhci=m
CONFIG_PACKAGE_kmod-usb2=m
CONFIG_PACKAGE_kmod-usb2-pci=m
CONFIG_PACKAGE_kmod-usb3=m
CONFIG_PACKAGE_kmod-veth=m
CONFIG_PACKAGE_kmod-vmxnet3=m
CONFIG_PACKAGE_kmod-vxlan=y
CONFIG_PACKAGE_kmod-wireguard=m
CONFIG_PACKAGE_kmod-wwan=m
CONFIG_PACKAGE_kmod-zram=m
CONFIG_PACKAGE_libatomic=m
CONFIG_PACKAGE_libstdcpp=m
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-package-manager=y
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-i18n-argon-config-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=y
CONFIG_PACKAGE_luci-i18n-package-manager-zh-cn=y
CONFIG_PACKAGE_luci-i18n-turboacc-zh-cn=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y
CONFIG_PACKAGE_luci-i18n-vlmcsd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wol-zh-cn=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
# CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_sqm-scripts-nss=m
# CONFIG_PACKAGE_wpad-openssl is not set
CONFIG_PACKAGE_xtables-legacy=m
CONFIG_PACKAGE_xtables-nft=m
#
# extra package
#
CONFIG_PACKAGE_wpad-mbedtls=m
CONFIG_PACKAGE_openssl-util=m
CONFIG_PACKAGE_libopenssl-legacy=m
CONFIG_PACKAGE_zoneinfo-asia=m
CONFIG_PACKAGE_miniupnpc=m
CONFIG_PACKAGE_tcpdump=m
CONFIG_PACKAGE_curl=m
CONFIG_PACKAGE_ip-full=m
CONFIG_PACKAGE_bind-dig=m
CONFIG_PACKAGE_aria2=m
CONFIG_PACKAGE_mutt=m
CONFIG_PACKAGE_msmtp=m
CONFIG_PACKAGE_nginx-full=m
CONFIG_PACKAGE_luci-app-openvpn=m
CONFIG_PACKAGE_luci-proto-openconnect=m
CONFIG_PACKAGE_luci-proto-vpnc=m
CONFIG_PACKAGE_luci-app-udpxy=m
CONFIG_PACKAGE_udpxy=m
CONFIG_PACKAGE_luci-app-homeproxy=m
CONFIG_PACKAGE_luci-app-dawn=m
CONFIG_PACKAGE_dawn=m
CONFIG_PACKAGE_php8=m
CONFIG_PACKAGE_php8-cgi=m
CONFIG_PACKAGE_php8-cli=m
CONFIG_PACKAGE_php8-fpm=m
CONFIG_PACKAGE_php8-mod-curl=m
CONFIG_PACKAGE_php8-mod-iconv=m
CONFIG_PACKAGE_php8-mod-openssl=m
CONFIG_PACKAGE_php8-mod-pcntl=m
CONFIG_PACKAGE_php8-mod-sockets=m
CONFIG_PACKAGE_php8-mod-xml=m
CONFIG_PACKAGE_php8-mod-xmlreader=m
CONFIG_PACKAGE_php8-mod-xmlwriter=m
CONFIG_PACKAGE_php8-mod-zip=m
#
# turboacc
#
CONFIG_PACKAGE_TURBOACC_INCLUDE_NO_FASTPATH=y
# CONFIG_PACKAGE_TURBOACC_INCLUDE_FLOW_OFFLOADING is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_FAST_CLASSIFIER is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_SHORTCUT_FE_CM is not set
CONFIG_PACKAGE_TURBOACC_INCLUDE_BBR_CCA=y
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set
# CONFIG_USE_APK is not set
